@model BTLNhom10.Models.Tuyendung

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết dữ liệu</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhongBan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhongBan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoTuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoTuoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamKN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamKN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrinhDo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrinhDo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoaiHinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoaiHinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgoaiNgu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgoaiNgu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhongVan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhongVan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YeuCau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YeuCau)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaQL">Sửa</a> |
    <a asp-action="Index">Quay lại</a>
</div>
NguyenHongQuan-1921050489