@model BTLNhom10.Models.Nhanvien

@{
    ViewData["Title"] = "Details";
}

<div class="w3-row w3-teal col-md-2">
    
        <h2 class="w3-center w3-text" style=" font-family: Times New Roman; font-size:20px ">Chi tiết nhân viên</h2>
</div>

<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueQuan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tuoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tuoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamKN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamKN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChucVu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChucVu)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNV" class="w3-button w3-teal">Sửa</a> |
    <a asp-action="Index" class="w3-button w3-teal">Quay lại</a>
</div>
<p style="margin-top: 200px;">NguyenHongQuan-1921050489</p>