@model BTLNhom10.Models.Chamcong

@{
    ViewData["Title"] = "Delete";
}

<div class="w3-row w3-teal col-md-2">
    
        <h2 class="w3-center w3-text" style=" font-family: Times New Roman; font-size:20px ">Xóa bản ghi</h2>
</div>

<h3>Bạn có chắc chắn muốn xóa bản ghi này ?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNghiPhep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNghiPhep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNgayCong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNgayCong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGioCong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGioCong)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaNV" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
       
    </form>
    <p><a asp-action="Index" ><button  class="w3-button w3-dark-grey" style="margin-top: 20px;">Quay lại</button></a></p>
</div>
NguyenHongQuan-1921050489