@model BTLNhom10.Models.Chamcong

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa thông tin</h1>

<h3>Bạn có chắc chắn muốn xóa bản ghi này ? </h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNghiPhep)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNghiPhep)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoNgayCong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoNgayCong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoGioCong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoGioCong)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaNV" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại</a>
    </form>
</div>
NguyenHongQuan-1921050489