@model IEnumerable<BTLNhom10.Models.Quanlyhoso>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-container ">
    <div class="w3-row w3-teal">
        <h1 style="margin-left:30px;">Dữ liệu chấm công</h1>
        <a asp-action="Create" class="w3-btn w3-border w3-border-white w3-round w3-tiny w3-horver-blue" >Thêm bảng mới</a> 
        <a asp-action="Download" class="w3-btn w3-border w3-border-white w3-round w3-right w3-tiny w3-horver-blue">Tải xuống</a>

    </div>
    <hr/>
    <table class="table w3-panel w3-border w3-border-blue w3-panel w3-card" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenNV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoTaiKhoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhongBan)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
    
            @foreach (var item in Model)
            {
                
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTaiKhoan)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.PhongBan)
            </td>
          
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaNV">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.MaNV">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.MaNV">Xóa</a>
            </td>
        </tr>
            }
        </tbody>
    </table>
      
 @using (Html.BeginForm("Index", "Quanlyhoso", FormMethod.Get, new { id="form1"})){
    <div class="row">
        <div class="col-md-11">
            @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page,
            pageSize= ViewBag.psize}), 
            new X.PagedList.Web.Common.PagedListRenderOptions { LiElementClasses = new string[] {"page-item"}, 
            PageClasses = new string[] { "page-link" }})
        </div>
        <div class="col-md-1">
            @Html.DropDownList("pagesize", null, new {@class="form-select"})
        </div>
    </div>

}
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function(){
        $("#pagesize").change(function(){
            $("#form1").submit();
        });
    });
</script>  

</div>

NguyenHongQuan-1921050489